.book {
    width: 18%;
    min-width: 150px;
    margin-bottom: 2rem;
}

.book-top {
    position: relative;
    overflow: hidden;
}

.book-cover {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.book-shelf-changer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    background: #f5f5f5;
}

.book-shelf-changer select {
    width: 100%;
    background: transparent;
    border: none;
}

.book-title {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.book-authors {
    text-align: center;
    font-size: 1rem;
    color: #666;
}
