.list-books {
    width: 100%;
  }
  
  .list-books-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .list-books-title h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .list-books-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 2rem;
  }
  
  .bookshelf {
    width: 22%;
    min-width: 300px;
    margin-bottom: 2rem;
  }
  
  .bookshelf-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .bookshelf-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
  
  .bookshelf-books .books-grid {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .open-search {
    text-align: center;
  }
  
  .open-search a {
    font-size: 1.5rem;
  }
  